@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Raleway:wght@300&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    font-family: raleway, sans-serif;
    background-color: rgba(255, 255, 255, 0.846)
}

/* Headings and logo */

h1,
h2,
h3,
h4,
h5 {
    font-family: Bebas Neue;
    color: black;
    text-transform: uppercase;
    letter-spacing: 3px;

}

h2 {
    font-size: 60px;
    text-align: center;
    padding: 20px;
}

#p-about-us {
    font-size: 30px;
}

h3 {
    font-size: 40px;
    padding: 20px;
}



h4,
h5 {
    font-size: 40px;
    text-align: center;
    padding: 20px;
}

p {
    font-size: 20px;
}

header {
    width: 100%;

}

#logo {
    text-align: center;
    font-size: 100px;
    margin-top: 60px;
    letter-spacing: 8px;
}

#navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background-color: black;
    padding: 40px 0 40px;
}

ul,
.nav-text {
    padding: 30px;
    font-size: 30px;
    list-style-type: none;
    text-align: center;
    display: inline;

}

a {
    color: rgb(251, 239, 239);
    text-decoration: none;
}

.socialmedia,
li a:hover {
    color: rgb(118, 118, 118);
}

.about-us {
    font-size: 30px;
    text-align: center;
    padding: 20px;
    background-color: grey;
}

/* Class information section */

.class-options {
    line-height: 40px;
    margin-bottom: 100px;

}

.class-1,
.class-3 {
    background-color: aqua;
}


/* Membership option section */
.cards {
    display: flex;
    flex-direction: row;
    justify-content: space-around;


}

.cards :not(h3) {
    opacity: 0.4;
}

.card1 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-image: url('../images/yoga-card.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 20%;
    height: 400px;
    overflow: hidden;
    border-radius: 5px;
}

.card2 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-image: url('../images/yoga-card-2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 20%;
    height: 400px;
    overflow: hidden;
    border-radius: 5px;

}

.card3 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-image: url('../images/yoga-card-3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 20%;
    height: 400px;
    overflow: hidden;
    border-radius: 5px;


}

.timetable {
    border-style: solid;
    border-width: 3px;
    margin: 20px;
    flex-direction: row;
    justify-content: center;
    line-height: 40px;
    overflow: hidden;
    border-radius: 5px;
    height: 500px;


}



footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 100px;
    background-color: black;
    color: white;
    padding: 0;
}

LÄGG IN SEN position: fixed;