@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Raleway:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: raleway, sans-serif;
}

.header {
    background-image: url('');
}

h1 {
    font-family: bebas neue, sans-serif;
    font-size: 70px;
    text-transform: uppercase;
    letter-spacing: 15px;
    color: #95E49C;

}

ul {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 4px;
    color: #95E49C;
}

#logo {
    display: flex;
}

.container {
    display: flex;
    justify-content: space-between;
}