/*global settings*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Raleway:wght@300&display=swap');

html {
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    font-family: raleway, sans-serif;
    background-color: rgba(255, 255, 255, 0.846)
}

/*Settings for all sections starting from "description of the classes section" until "footer"*/
.style-for-all {
    margin: 2em auto;
    font-size: 20px;
}

/* Headings and logo */
h1,
h2,
h3,
h4,
h5 {
    font-family: Bebas Neue;
    color: black;
    text-transform: uppercase;
    letter-spacing: 3px;
}

h2 {
    font-size: 60px;
    text-align: center;
    padding: 20px;
}

h3,
h4,
h5 {
    font-size: 30px;
    padding: 20px;
    text-align: center;
}

#p-about-us {
    font-size: 25px;
}

#logo {
    text-align: center;
    font-size: 100px;
    margin: 50px;
    letter-spacing: 8px;
}

#navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: black;
    padding: 40px 0 40px;
}

ul {
    list-style-type: none;
}

.nav-text {
    font-size: 20px;
    list-style-type: none;
    text-align: center;
    display: flex;
    width: 100%;
    max-width: 10rem;
    justify-content: space-around;
}

.about-us {
    font-size: 30px;
    text-align: center;
    padding: 100px;
    background-image: url(../images/hero-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 500px;
    overflow: hidden;
}

a {
    color: white;
    text-decoration: none;
}

.socialmedia,
li a:hover {
    color: green;
}

.headlines {
    font-size: 40px;
    background-color: black;
    color: white;
    margin: 50px 100px 20px 100px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/* For text over images */
.opacity {
    background-color: rgba(255, 255, 255, 0.562);
}

/* Class options and information section */
#class-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.class-options {
    line-height: 40px;
    margin-bottom: 100px;
    padding: 2em;
    width: 100%;
    max-width: 120rem;
}

.class-1,
.class-2,
.class-3,
.class-4 {
    background-color: rgb(255, 255, 255);
    padding: 2em;
    margin-bottom: 20px;
    -webkit-box-shadow: 0px 0px 25px 1px rgba(0, 0, 0, 0.49);
    -moz-box-shadow: 0px 0px 25px 1px rgba(0, 0, 0, 0.49);
    box-shadow: 0px 0px 25px 1px rgba(0, 0, 0, 0.49);
}

/* Schedule section */
.timetable {
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-width: 3px;
    flex-direction: row;
    line-height: 40px;
    overflow: hidden;
    border-radius: 5px;
    padding: 2em;
    width: 100%;
    max-width: 120rem;
    -webkit-box-shadow: 0px 0px 25px 1px rgba(0, 0, 0, 0.49);
    -moz-box-shadow: 0px 0px 25px 1px rgba(0, 0, 0, 0.49);
    box-shadow: 0px 0px 25px 1px rgba(0, 0, 0, 0.49);
}

/* Membership option section */
.cards {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 1em 0;
}

.card1,
.card2,
.card3 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card1 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-image: url('../images/yoga-card.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 30%;
    height: 400px;
    overflow: hidden;
    border-radius: 5px;
}

.card2 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-image: url('../images/yoga-card-2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 30%;
    height: 400px;
    overflow: hidden;
    border-radius: 5px;
}

.card3 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-image: url('../images/yoga-card-3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 30%;
    height: 400px;
    overflow: hidden;
    border-radius: 5px;
}

/*Form page*/
.form-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 900px;
}

.contact-form {
    color: #fff;
    background-color: black;
    max-width: 400px;
    padding: 30px;
}

.contact-form>h2 {
    color: #fafafa;
    margin-bottom: 20px;
}

.text-input {
    background: white;
    color: #000000;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px;
    border: 1px solid #fafafa;
    border-radius: 2px;
}

.text-input:hover {
    border-color: green;
}

.send-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: green;
    color: #fafafa;
    display: block;
    font-family: raleway, sans-serif;
    border-radius: 5;
}

.send-button:hover {
    background-color: #fafafa;
    color: green;
}

/*form response text*/
#form-response {
    text-align: center;
    height: 400px;
    font-size: 40px;
    margin-top: 30px;
}

/* footer */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background-color: black;
    color: white;
    padding: 1em;
}


/*For small screens*/
@media screen and (max-width:800px) {
    .nav-text {
        padding: 2em;
    }

    #navigation {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        padding: 1em;
    }

    .card1,
    .card2,
    .card3,
    .cards {
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-bottom: 20px;
        margin: 1em;
    }

    .class-1,
    .class-2,
    .class-3,
    .class-4 {
        padding: 1em;
    }

    .timetable {
        padding: 0em;
    }

    .about-us {
        height: auto;
        padding: 0;
    }

    .headlines {
        margin: auto;
        padding: 1em;
    }

    #schedule {
        margin-bottom: 100px;
    }
}

/*For bigger screens*/
@media screen and (min-width:800px) {
    .nav-text {
        padding: 30px;
        font-size: 20px;
        display: inline;
        text-align: center;
        list-style-type: none;
    }
}